canvas {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	margin: auto;
}

#unitInfo {
	background-color: #ccf;
	margin: 10px;
	padding: 10px;

	width: 150px;
	height: 200px;
	position: absolute;
	top: 0;
	left: 0;

	display: none;
}

#unitName {
	font-weight: bold;
	font-size: large;
	margin: 0;
}

#unitLegs {
	font-size: normal;
	margin: 0;
}

#unitHealthContainer {
	padding: 0;
	margin: 0;

	display: block;
	position: relative; <!-- allows this to be the anchor for #unitHealth's position -->

	background-color: gray;
	border: 2px solid black;
	width: 104px;
	height: 19px;
}

#unitHealth {
	background-color: red;

	position: absolute;
	display: inline-block;
	top: 0px;
	left: 0px;

	width: 100px;
	height: 15px;
}
