canvas {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 8px;

	margin: auto;
}

#unitSidebar {
	width: 200px;
	height: 400px; /* this is overridden by App.js to be the canvas height */
	position: fixed;

	top: 8px;
	left: 8px;
	z-index: 3;
	background-color: #CCF;

	display: none; /* by default */
}

#unitInfo {
	margin: 10px;
	padding: 10px;

	width: 150px;
	height: 200px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 4;

	display: none; /* by default */
}

#unitName {
	font-weight: bold;
	font-size: large;
	margin: 0;
}

#unitLegs {
	font-size: normal;
	margin: 0;
}

#unitHealthContainer {
	padding: 0;
	margin: 0;

	display: block;
	position: relative; /* allows this to be the anchor for #unitHealth's position */

	background-color: gray;
	border: 2px solid black;
	width: 104px;
	height: 19px;
}

#unitHealth {
	background-color: red;

	position: absolute;
	display: inline-block;
	top: 0px;
	left: 0px;

	width: 100px;
	height: 15px;
}
